{% extends "base.html" %}
 {% block body %}
      <form action="{{url_for('helloo')}}"  method="POST" enctype="multipart/form-data" style=" margin-left: 20%;">
        <input type="file" name="name" placeholder="Upload a csv file">
        <button>Submit</button>
      </form>
    </diV>
    <div style="overflow-x:auto;">
      <table class="table">
        <tr>
          {% for tablehead in tableheads %}
            <th scope="col">
                {{ tablehead }}
            </th>
          {% endfor%}
        </tr>
        {% for key,value in valuess.iterrows() %}
        <tr>
          {% for val in value %}
          <td  >{{ val }}</td>
          {%endfor%}
        </tr>
        {% endfor %}
        
      </table>
      </div>
      {% endblock %}

  